img {
    display: block;
    width: 100%;
    height: 100%;
}

.banner {
    background-color: #24252a;
    max-width: 100%;
    margin: auto;
    height: 76vh;
}
img {
    width: 100%;
    height: 100%;
}
img .banner {
    position: absolute;
    float: left;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    min-width: 500px;
}
.bannertitle {
    color: #ddd;
    /*display: inline-block;*/
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 60px;
    left: 100vh;
    text-align: center;
    
}
p{
    text-align: justify;
    width: 800px;
    margin: auto auto;
    padding-top: 125px;
    /*display: inline-block;*/
    color: #ddd;
}
.content_banner {
    text-align: center;
}
.boton {
    position: absolute;
    /*display: block;*/
    top: 380px;
    padding-top: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 5px;
    left: 105vh;
    width: 100px;
    background-color: rgba(0, 136, 169, 1);
    font-size: 24px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    text-decoration: none;
    opacity: .9;
    text-align: center;
}
.boton:hover {
    background-color: rgba(0, 136, 169, .4);
    opacity: .8;
}

