
*{
    margin: 0;
    padding: 0;
}
.footer {
    text-align: center;
    background-color: rgb(0, 0, 0);
    height: 100px;
}
.name {
    position: absolute;
    top: 93%;
    left: 10vh;
    text-align: center;
    padding: 5px;
    color: #fff;
}
.date {
    position: absolute;
    top: 93%;
    left: 50vh;
    text-align: center;
    padding: 5px;
    color: #fff;

}

.git {
    position: absolute;
    top: 93%;
    left: 150vh;
    text-align: center;
    padding: 5px;
    color: #fff;
}

.git {
    text-decoration: none;
}

.git:hover {
    color: rgb(148, 24, 24);
}