.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(148, 24, 24);
  padding: 0 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.brand {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
}

.elements {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element {
  padding: 20px;
  border-radius: 5px;
  font-size: 1rem;
}

.element:hover {
  background-color: rgb(102, 96, 96);
  color: #fff;
}

.element > a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
}